.Weather {
    border: 1px solid #dadde1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    margin: 30px auto;
    max-width: 600px;
    border-radius: 4px;
}

.Weather form {
    margin-bottom: 20px;

}

.Weather h1 {
    color: rgb(96, 95, 95); 
    display: block;
    font-size: 30px;
    line-height: 28.8px;   
    height: 28px;
    font-weight: 100;
    margin: 20px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    color: rgb(75, 73, 73);
    list-style: none;
}
.Weather img {
    height: 64px;
    float: left;
    margin-right: 10px;
}
.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;

}

.weather .unit {
    font-size: 16px;
    color: rgb (33, 33, 33);
    font-weight: 400;
    position: relative;
    top: -32px;
    margin-left: 5px;
}